<ion-header>
  <ion-toolbar>
    <img src="assets/img/seguro.png" width="50%" height="50%">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #000000;">  
  <div>
    <h1> 
      <ion-item>
        <ion-input [(ngModel)]="email" label="Email" type="email" placeholder="" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="password" label="Password" type="password" value=""></ion-input>
      </ion-item>

      <ion-button (click)="login()" expand="block">Login</ion-button>
    </h1>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="registrar">
          <div>
            <a [routerLink]="['/crearuser']" routerLinkActive="router-Link-Active">registrar</a>
          </div>
        </ion-col>
        <ion-col class="recuperar">
          <div>
            <a [routerLink]="['/recuperarpass']" routerLinkActive="router-Link-Active">recuperar</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>