<div>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar style="background-color: #EFC3CA;">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <!-- Imagen del Usuario -->
      <ion-list class="user-info">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <ion-img *ngIf="usuario.length > 0" [src]="usuario[0].imagen_usuario"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2 class="user-name">{{ usuario.length > 0 ? usuario[0].nombre : 'Usuario' }}</h2>
            <p class="user-email">{{ usuario.length > 0 ? usuario[0].correo_electronico : 'correo@ejemplo.com' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

        <!-- Botones del Menú -->
        <ion-list>
        <ion-item class="custom-button" button (click)="logout()" aria-label="Cerrar sesión">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>

        <ion-item class="custom-button" button (click)="btnRegistrarVehiculo()" aria-label="Registrar vehículo">
          <ion-icon name="car-outline" slot="start"></ion-icon>
          <ion-label>Registrar Vehículo</ion-label>
        </ion-item>

        <ion-item button (click)="ObtenerVehiculos()">>
          <ion-icon name="car-outline" slot="start"></ion-icon>
          <ion-label>Ver Vehículos</ion-label>
        </ion-item>      
        
        <ion-item button (click)="AgregarViaje()">
          <ion-icon name="navigate-outline" slot="start"></ion-icon>
          <ion-label>Crear Viaje</ion-label>
        </ion-item>

     
        <ion-item class="custom-button" button [routerLink]="['/photo']" aria-label="Tomar foto">
          <ion-icon name="camera-outline" slot="start"></ion-icon>
          <ion-label>Tomar Foto</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</div>

<!-- Contenido Principal -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar style="background-color: #EFC3CA;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding main-content">
    <ion-card>
      <ion-img src="assets/img/LocDuoc.jpg" alt="Imagen del mapa de ubicación" class="maps"></ion-img>
    </ion-card>

    
    <!-- Barra de Búsqueda -->
    <ion-searchbar
      class="custom-searchbar"
      placeholder="Destino Final"
      showCancelButton="focus"
      aria-label="Buscar destino final"
    ></ion-searchbar>
    <ion-footer>
      <br>
      <h1>Somos...</h1>
      <h2 style="text-align: justify;">
        En DaniJp, somos una plataforma innovadora que facilita el transporte para estudiantes de DuocUC. Nuestra misión es ofrecer un servicio de transporte seguro y eficiente, conectando a los estudiantes con conductores del mismo instituto. De esta forma, no solo apoyamos la movilidad de los estudiantes, sino que también generamos oportunidades de empleo para ellos dentro de su propia comunidad.
      </h2>
    </ion-footer>
    



  </ion-content>


  
</div>
