<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué es DaniJp?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        DaniJp es una plataforma de transporte pensada especialmente para los estudiantes de DuocUC, diseñada para facilitar los desplazamientos dentro de la ciudad de manera práctica y sencilla. Nuestro objetivo es proporcionar un medio de transporte seguro y accesible, conectando a conductores y pasajeros de forma rápida y eficiente. Con DaniJp, podrás disfrutar de un viaje cómodo, confiable y económico, maximizando tu tiempo y recursos mientras te mueves por la ciudad.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      © 2024 DaniJp
    </ion-title>
  </ion-toolbar>
</ion-footer>
